p {
  font-family: Helvetica;
}

code {
    font-family: monospace;
}

body .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
